# Application
APP_PORT=8080

# Database
DB_PORT=5432
POSTGRES_DB=school
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# JPA
SPRING_JPA_HIBERNATE_DDL_AUTO=update

# PaaS URL for CI healthcheck (for example: https://school-project.onrender.com)
APP_BASE_URL=

# Render deploy hook URL for CI/CD deploy step
RENDER_DEPLOY_HOOK_URL=